# Ignore everything in this directory
*.o
*.xlsx
results/*
input/*
output/*
MM_DESYTB_May_2016.csv
VecVecDict.cc
VecVecDict.h
alignment
analyze
backup/
hitmaker
pdfs/
runall

# Except this file
!.gitignore

